<mat-form-field appearance="fill">
    <mat-label>Choose House</mat-label>
    <mat-select [(ngModel)]="selectedHouse" (selectionChange)="onSelectHouse()">
      <mat-option *ngFor="let house of houses" [value]="house">{{ house }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="card-container">
    <mat-card *ngFor="let character of characters" class="character-card">
      <img mat-card-image [src]="character.image" alt="{{ character.name }}">
      <mat-card-title>{{ character.name }}</mat-card-title>
      <mat-card-subtitle>{{ character.actor }}</mat-card-subtitle>
      <mat-card-subtitle [style.color]="character.house === 'Slytherin' ? 'green' : 'red'">
        {{ character.house }}
      </mat-card-subtitle>
    </mat-card>
  </div>
  